/* 
    Document   : style
    Created on : Feb 19, 2014, 12:37:41 PM
    Author     : skinnerj
    Description:
        All customized CSS for the project, or our pages, should go here.
        This style sheet should always load LAST when puting in the meta
        references. 
*/

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #7d9c59;
    color: #363942;
}

section {
    background-color: #D8cAA8;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #363942;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
    color: #363942; }

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #363942;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #AEB0B3; }

h1, h2, h3, h4, h5, h6 {
    color: #363942;
}

button, .button {
    background-color: #AFA8A1;
    color: #363942;
    box-shadow: 5px 5px 2.5px #888888;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #74665A; 
}

button.secondary, .button.secondary {
    background-color: #B7B8B9;
    border-color: #b9b9b9;
    color: #363942; 
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #7E8186;
    color: #ffffff
}

.nav {
    padding-top: 30px;
}

.shadow {
    box-shadow: 3px 3px 1.5px #888888;
}

.shadow:hover {
    box-shadow: 5px 5px 2.5px #888888;
}

.thumbs {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}